- var data = this.view.data
- var url_params = this.view.options.params.params

div(class="pages", id="pages_index_#{url_params.id}")
  h2 primeira view
  h3 #{data.key}

  ul
    li
      a(href="/test") testando
    li
      a(href="/test/one") testando1
    li
      a(href="/test/two") testando2