
/* line 1 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 14 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/index.styl */

/* line 2 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/border.styl */

/* line 2 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/clearfix.styl */

/* line 2 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/color-image.styl */

/* line 6 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/flex.styl */

/* line 92 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/gradients.styl */

/* line 92 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/config.styl */

/* line 2 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/iconic.styl */

/* line 2 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/image.styl */

/* line 27 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/overflow.styl */

/* line 3 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/positions.styl */

/* line 3 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/reset.styl */

/* line 5 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/text/index.styl */

/* line 2 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/text/aliases.styl */

/* line 2 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 11 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 9 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/text/replace-text.styl */

/* line undefined : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/vendor.styl */

/* line 574 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/config.styl */

/* line 12 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/size.styl */

/* line 1 : /Users/marcelo.andrade/Workspace/study/framework/src/styles/main.styl */
h1 {
  color: #008000;
}


/* line 1 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 14 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/index.styl */

/* line 2 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/border.styl */

/* line 2 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/clearfix.styl */

/* line 2 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/color-image.styl */

/* line 6 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/flex.styl */

/* line 92 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/gradients.styl */

/* line 92 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/config.styl */

/* line 2 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/iconic.styl */

/* line 2 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/image.styl */

/* line 27 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/overflow.styl */

/* line 3 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/positions.styl */

/* line 3 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/reset.styl */

/* line 5 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/text/index.styl */

/* line 2 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/text/aliases.styl */

/* line 2 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 11 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 9 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/text/replace-text.styl */

/* line undefined : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/vendor.styl */

/* line 574 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/config.styl */

/* line 12 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/size.styl */

/* line 1 : /Users/marcelo.andrade/Workspace/study/framework/src/styles/pages/container.styl */
#pages_container {
  display: none;
}


/* line 1 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 14 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/index.styl */

/* line 2 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/border.styl */

/* line 2 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/clearfix.styl */

/* line 2 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/color-image.styl */

/* line 6 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/flex.styl */

/* line 92 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/gradients.styl */

/* line 92 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/config.styl */

/* line 2 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/iconic.styl */

/* line 2 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/image.styl */

/* line 27 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/overflow.styl */

/* line 3 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/positions.styl */

/* line 3 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/reset.styl */

/* line 5 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/text/index.styl */

/* line 2 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/text/aliases.styl */

/* line 2 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 11 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 9 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/text/replace-text.styl */

/* line undefined : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/vendor.styl */

/* line 574 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/config.styl */

/* line 12 : /usr/local/lib/node_modules/polvo/node_modules/polvo-stylus/node_modules/nib/lib/nib/size.styl */

/* line 1 : /Users/marcelo.andrade/Workspace/study/framework/src/styles/pages/index.styl */
#pages_index {
  display: none;
}
